#register_form_wrapper{
width:1000px;
height:400px;
margin: 0 auto;
padding:50px;
}
#register_form{
width:900px;
font-size:30px;
margin: 0 auto;
}
table{
text-align:left;
}
tr{height:50px;}
.field_name{
width:150px;
font-size:23px;
}
.input{
width:300px;
height:30px;
}
#save{
margin-top:30px;
margin-left:200px;
height:50px;
width:100px;
}
#error{color:red; font-size:18px;}